.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  padding-right: 2rem;
  font-size: larger;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
}
